* {
	padding: 0;
	margin: 0;
}

.fon_1 {
	background-image: url(img/obr.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
.fon_1 .label_wrapper {
	position: absolute;
	top: 5%;
	width: 100%;
	height: 16%;
	background-image: -moz-linear-gradient(to left, rgba(0,0,0,0), rgba(23,12,59,.8), rgba(0,0,0,0));
    border: -moz-linear-gradient(to left, rgba(0,0,0,0), rgba(255,255,255,.6), rgba(0,0,0,0));
	text-align: center;
}

.label_wrapper::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: 100%;
        background: -moz-linear-gradient(to left, rgba(0,0,0,0), rgba(255,255,255,.5), rgba(0,0,0,0));
}
.label_wrapper::before {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background: -moz-linear-gradient(to left, rgba(0,0,0,0), rgba(255,255,255,.5), rgba(0,0,0,0));
}

.fon_1 h1 {
	position: relative;
	top: 10%;
	color: #ddd;
	text-shadow: 0 1px 1px #000;
	text-transform: uppercase;
}
.fon_1 .form_now {
	position: absolute;
	right: 5%;
	top: 34%;
	width: 90%;
	height: 370px;
	background: rgba(0,0,0,.7);
	border-radius: 10px;
	padding: 50px;
	box-sizing: border-box;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.7);
}
.form_now p {
	display: inline-block;
	margin: 37px 0 0 110px;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,.4);
	font-size: 28px;
}
.for_form {
	position: absolute;
	display: inline-block;
	top: 45px;
	right: 190px;
	width: 500px;
	height: 290px;
	background: rgba(0,0,10,.5);
	border-radius: 5px;
	padding: 50px;
	box-sizing: border-box;
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.for_form input[type=text] {
	   right: 0px;
       display: block;
       margin: 20px 0 0 160px;
       height: 40px;
       width: 200px;
       padding-left: 20px;
       font-size: 20px;
}
.for_form input[type=button] {
	margin: 20px 0 0 50px;
	font-size: 18px;
	height: 60px;
	width: 295px;
	border: none;
	outline-style: none;
	border-radius: 3px;
	text-shadow: 0 0 1px rgba(0,0,0,.6);
	cursor: pointer;
	background-image: -moz-linear-gradient(to top, #777, #bbb, #777);
}
input[type="button"]::-moz-focus-inner {
	border: 0;
}
.for_form input[type=button]:hover {
	background-image: -moz-linear-gradient(to top, #888, #ccc, #888);
}
.for_form label {
	position: absolute;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: -20px;
}
#label_name {
	top: 80px;

}
#label_tel {
	margin-top: 30px;
}
.fon_1 .popup {
	position: absolute;
	padding: 0 30px 0 30px;
	top: 45px;
	right: 190px;
	height: 290px;
	width: 500px;
	background: rgba(0,0,10,1);
	box-sizing: border-box;
	text-align: center;
	display: none;
}
.fon_1 .back_popup  {
	position: absolute;
	padding: 0 30px 0 30px;
	top: 45px;
	right: 190px;
	height: 290px;
	width: 500px;
	background: rgba(0,0,10,1);
	box-sizing: border-box;
	text-align: center;
	display: none;
}

.popup p {
	margin: 0;
	margin-top: 40px;
	font-size: 24px;
	text-shadow: 0 0 1px rgba(0,0,0,.8);
}
.fon_1 .back_popup p {
	margin: 0;
	margin-top: 100px;
}
.popup .round {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	cursor: pointer;
	border: solid 1px rgb(0,0,115);
	background: rgba(0,0,19,.3);
	text-align: center;
	transition: all ease-in-out .2s;
}
.fon_1 .popup .triangle {
	position: absolute;
	left: 24%;
	margin: 0;
	margin-top: 13%;
	width: 0;
    height: 0;
    border: solid 23px transparent;
    border-right-color: rgba(0,0,39,.9);
    border-left: 0;
    transition: all ease-in-out .2s;
}
.popup .round:hover {
	height: 64px;
	width: 64px;
	top: 18px;
	left: 18px;
}
.popup .round:hover .triangle {
	left: 26%;
	margin-top: 15%;

}
.fon_2 {
	background: url(img/best_1.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top center;
}
.fon_2 p {
	width: 100%;
	position: absolute;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
	text-shadow: 0 0 1px white;
	background: -moz-linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,10,.7), rgba(0,0,0,0));
}
.fon_3 {
	background: -moz-linear-gradient(top left, #aaa, #f00, #00f, #aaa, #00f);
}
.fon_5 {
	background: -moz-linear-gradient(top left, #00f, #aaa, #f00, #00f, #aaa);
}
